html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;  
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 45px; /* .push must be the same height as .footer */
}

.well {
  background-color: white;
}

@font-face {
  font-family: sansation;
  src: url('../fonts/Sansation-Regular.ttf');
}

@font-face {
  font-family: sansation-light;
  src: url('../fonts/Sansation-Light.ttf');
}

.top-section {
/*  background-color: rgba(0, 0, 0, 0.7);*/
background-color: rgba(62, 63, 58, 0.7);
  background-image: url('../images/pattern40.png');
  padding-bottom: 0;
  margin: 0;
  /*margin-bottom: 10px;*/
}

.top-section h1 {
  color: white;
  text-align: left;
  font-family: sansation-light;
}

.home-top {
  min-height: 400px;
}

.navbar-brand {
  color: rgb(19, 132, 222)  !important;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
  font-family: sansation;
  margin-bottom: -18px;
}

.navbar, .navbar-right, .active, .active > a, .navbar-right > li > a {
  /*height: 70px;*/
  line-height: 30px !important;
  margin-bottom: 0;
}

.navbar{
  border-radius: 0;
  background-color: rgb(34, 34, 34);
}

.border-gradient {
-webkit-box-shadow: -1px 0px 21px 1px rgba(255,255,255,0.68);
-moz-box-shadow: -1px 0px 21px 1px rgba(255,255,255,0.68);
box-shadow: -1px 0px 21px 1px rgba(255,255,255,0.68);
}


.homepage-image {
  height: 350px;
  /*width: 600px;*/
  width: 100%;
  margin-top: 20px;
  border: 5px solid gray
}


.top-section-text > .page-header {
  color: white;
}

.bottom-section .page-header {
  border-color: rgb(221, 221, 221);
}

.top-section-text > p {
  color: rgb(221, 221, 221);
  font-size: 17px;
}

.top-section-text {
  /*position: absolute;*/
  margin-top: 0px;
  margin-left: 0px;
  font-family: sansation;
  margin-bottom: 15px;
}

.contact-btn {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: normal;
  /*text-transform: none;*/
  font-family: sansation;
}

.navbar-tagline {
  color: rgb(19, 132, 222)  !important;
  font-family: 'Francois One', sans-serif;
  margin-left: 148px;
  font-style: italic;
  margin-top: -30px;
}

.logo-first-letter {
  font-size: 1.5em;
}

.contact-button {
  height: 110px;
  background-color: #E6EDEC;
}

.bottom-section-pic{
  width: 100%;
  height: 200px;
  background-color: rgb(34, 34, 34);
}

body {
  background-color: #f9f9f9;
}

.bottom-section {
  margin-top: 30px;
  margin-bottom: 120px;
    font-size: 15px;
}

.bottom-section-text {
  margin-top: 15px;
}

.icon-wrapper {
  height: 70px;
  width: 70px;
  font-size: 40px;
  text-align: center;
  border-radius: 50%;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.icon-wrapper span {
  display: inline-block;
  vertical-align: middle;
}

.contact-info h3 {
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  font-family: sansation;
  font-size: 20px;
}

.contact-info p {
  font-size: 16px;
}

.map {
  padding: 10px;
  background-color: white;
  border: 2px solid #E6EDEC;;
}
#map_canvas {
  height: 200px;
  width: 300px;
  background-color: gray;
}

footer {
  background-color: #E6EDEC;
  height: 45px;
  text-align: center;
}

footer p {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

/*.footer > .row {
  height: 25px;
}*/

@media (min-width: 992px) {
  .top-section-pic {
    width: 54%;
  }

  .top-section-other {
    width: 46%;
  }
}

